[Desktop Entry]
Version=1.0
Name=Screenshot
Name[es]=Captura de pantalla
Comment=Take screenshots of the entire screen, of the active window or of a region
Comment[es]=Toma capturas de toda la pantalla, de la ventana activa o de un área de la pantalla
Icon=org.xfce.screenshooter
Exec=xfce4-screenshooter
Type=Application
StartupNotify=true
Terminal=false
Categories=GTK;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-screenshooter.desktop
